@import "src/styles/fonts";
@import "src/styles/sizes";

.root {

  display: flex;
  align-items: flex-end;
  justify-content: end;

  border-radius: @size2 @size2 0px 0px;
  border: 1px solid @borderPrimary;

  margin-bottom: @size1;

  width: 100%;
  max-width: @max-display-width;

  a {
    font-size: @size5;
    margin-right: @size2;
  }
}
